<div id="div-main">


    <nav class="navbar navbar-expand-md navbar-light main-nav container">

        <div class="div1 d-flex justify-content-between w-100">


            <a class="navbar-brand fw-bold " href="#"> &nbsp;&nbsp; Night Fury</a>

            &nbsp; <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>



        <div class="collapse navbar-collapse hide  div2" id="navbarNavDropdown">

            <ul class="navbar-nav list-inline">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Home <span class="sr-only">(current)</span> </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLinkActive="Active" routerLink="home">Home1</a></li>
                        <li><a class="dropdown-item" routerLink="home2"> Home2 </a></li>
                        <li><a class="dropdown-item" routerLink="home3"> Home3 </a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="about">About</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown "
                        aria-haspopup="true" aria-expanded="false"> Pages </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="pages1">Page1</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Sub Page</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="pages2">Page2</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Sub
                                        Page</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="pages3">Page3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> service </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="service">Service1</a></li>
                        <li><a class="dropdown-item" routerLink="service2">Service2</a></li>
                        <li><a class="dropdown-item" routerLink="service3">Service3</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Gallery </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="gallery">Gallery1</a></li>
                        <li><a class="dropdown-item" routerLink="gallery2">Gallery2</a></li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="contact">Contact</a>
                </li>

            </ul>
        </div>
    </nav>
</div>


<!-- <script>
    // Navbar-menu-Active-Class Add
    $(".navbar-nav li").click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $(this).find('a').addClass('focus');
    });
</script> -->




<!-- 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>  
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

-->


<!-- Main Menu Section Start Here -->

<!-- <nav class="menu_section">
    <div class="header_logo">
        <img class="img-fluid" width="35px" src="logo.png" alt="">
    </div>
    <ul class="main_menu">
        <li class="active"><a href="">home <i class="fas fa-caret-right"></i> </a>
            <ul class="dropdown_menu">
                <li><a href="#">sub sub menu <i class="fas fa-caret-right"></i></a>
                    <ul class="dropdown_sub_menu">
                        <li><a href="">Demo 1</a></li>
                        <li><a href="">Demo 2</a></li>

                    </ul>
                </li>
                <li><a href="#">sub menu 2 <i class="fas fa-caret-right"></i></a>
                    <ul class="dropdown_sub_menu">
                        <li><a href="">mazharul</a></li>
                        <li><a href="">emon</a></li>
                        <li><a href="">kaysar</a></li>

                    </ul>
                </li>
                <li><a href="#">sub menu 3</a></li>
                <li><a href="#">sub menu 4</a></li>
                <li><a href="#">sub menu 5 <i class="fas fa-caret-right"></i></a>
                    <ul class="dropdown_sub_menu">
                        <li><a href="">sub menu 1</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">project <i class="fas fa-caret-right"></i></a>
            <ul class="dropdown_menu">
                <li><a href="">sub menu 2 <i class="fas fa-caret-right"></i></a>
                    <ul class="dropdown_sub_menu">
                        <li><a href="">sub menu 1</a></li>
                        <li><a href="">sub menu 2</a></li>
                        <li><a href="">sub menu 3</a></li>

                    </ul>
                </li>
                <li><a href="">sub menu 3</a></li>
                <li><a href="">sub menu 4</a></li>
                <li><a href="">sub menu 5</a></li>
                <li><a href="">sub menu</a></li>
            </ul>
        </li>
        <li><a href="#">project</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">product</a></li>
        <li><a href="#">webmail</a></li>
    </ul>
    <div class="menu-btn">
        <i class="abc fas fa-bars"></i>
    </div>
</nav> -->