<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->



<!-- ------------------- Header---------------------- -->
<!-- <div class="navbar container">
  <a routerLinkActive="Active" routerLink="home">Home</a>
  <a routerLinkActive="Active" routerLink="about">About</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLinkActive="Active" routerLink="location">Location</a>
      <a routerLinkActive="Active" routerLink="service">Service</a>
    </div>
  </div>
</div>
<br> -->


<!-- <div class="container ">
    <h2>My Routed Nav</h2>
    <ul class="nav nav-pills bg-light rounded" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="about">about</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="location">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="service">Service</a>
        </li>
    </ul>
</div> -->


<!-- Tab panes -->
<!-- <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div> -->


<div id="div-main">

    <nav class="navbar navbar-expand-md navbar-light rounded main-nav container">

        <div class="div1 ">


            <a class="navbar-brand font-weight-bold " style="float: right;" href="#"> &nbsp;&nbsp; Night Fury</a>
            &nbsp; <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="width: 15px; height: 15px;"></span>
            </button>
        </div>



        <div class="collapse navbar-collapse div2" id="navbarNavDropdown">

            <ul class="navbar-nav list-inline">


                <!-- <li class="nav-item active">
                    <a class="nav-link font-weight-bold onChange" routerLinkActive="Active" routerLink="home">Home <span
                            class="sr-only">(current)</span></a>
                </li> -->


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Home <span class="sr-only">(current)</span> </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLinkActive="Active" routerLink="home">Home1</a></li>
                        <li><a class="dropdown-item" routerLink="home2"> Home2 </a></li>
                        <li><a class="dropdown-item" routerLink="home3"> Home3 </a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="blog">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="about">About</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown "
                        aria-haspopup="true" aria-expanded="false"> Pages </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="pages1">Page1</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Sub Page</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="pages2">Page2</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Sub
                                        Page</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" routerLink="pages3">Page3</a></li>
                                    </ul>
                                </li>
                                <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Sub
                                                Page</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Page4</a></li>
                                            </ul>
                                        </li> -->
                            </ul>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> service </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="service">Service1</a></li>
                        <li><a class="dropdown-item" routerLink="service2">Service2</a></li>
                        <li><a class="dropdown-item" routerLink="service3">Service3</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle onChange" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Gallery </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="gallery">Gallery1</a></li>
                        <li><a class="dropdown-item" routerLink="gallery2">Gallery2</a></li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link onChange" routerLinkActive="Active" routerLink="contact">Contact</a>
                </li>



                <!-- ======================== Mega Dropdown Manu======================= -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category 2
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="text-uppercase text-white">Category 2</span>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <a href="">
                                        <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt=""
                                            class="img-fluid">
                                    </a>
                                    <p class="text-white">Short image call to action</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li> -->



            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <!-- <script src="/script.js"></script> -->


    <script>
        // Navbar-menu-Active-Class Add
        $(".navbar-nav li").click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $(this).find('a').addClass('focus');
        });
    </script>

</div>