<app-header>                         </app-header>
<app-nav-bar>                        </app-nav-bar>

<!-- Body Part Start -->
<div class="row">
    <div class="col-sm-2">
      <app-side-nav-bar>             </app-side-nav-bar>
    </div>
    <div class="col-sm-8">
      <!-- here I have to set   <router-outlet> </router-outlet>   in app-main-body.component.html
      to show all router link -->
      <app-main-body>                     </app-main-body> 
    </div>
    <div class="col-sm-2">
      <app-advert>                   </app-advert>
    </div>
</div>

<app-footer>                         </app-footer>