<br>
<div class=" " style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/add4.gif"
    style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
</div>

<br>
<div class="" style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/add5.gif"
    style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
</div>

<br>
<div class="" style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/add6.gif"
    style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
</div>

<br>
<div class="" style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/add1.gif"
    style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
</div><br>