<<<<<<< HEAD
        /* .main-div {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100vh;
        }

        canvas {
            padding: 0;
            margin: 0;
        }

        div.btnbg {
            position: fixed;
            left: 0;
            top: 0;
        } */
=======
/* .main-div {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
} */
>>>>>>> 67747630bdbc0a95b58bab25a52755e6370ba1a0
