 <!-- Navbar  Start -->
 <div class="sticky-top">
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid   ">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
        <a class="nav-link text-light" href="" routerLinkActive = "active"  routerLink = "home" ><b>Home</b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="" routerLinkActive = "active"  routerLink = "create-employee"><b>Create Employee</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="" routerLinkActive = "active"  routerLink = "employee-list"><b>Employee List</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href=""  routerLinkActive = "active"  routerLink = "contact"><b>Contact</b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" href="" routerLinkActive = "active"  routerLink = "about"><b>About</b> </a>
      </li>


    </ul>
    <!-- NavBar Search button -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0 text-info " type="submit"><b>Search</b> </button>
    </form> -->
  </div>
</nav>
</div>


<!-- Navbar end -->

<!-- <div class="container">
  <nav class="navbar navbar-default ">
    <ul class="nav navbar-nav ">
      <li>
         <a routerLinkActive = "active"  routerLink = "home" ><b>Home</b> </a>
      </li>
      <li >
         <a  routerLinkActive = "active"  routerLink = "create-employee"><b>Create Employee</b> </a>
      </li>
      <li>
         <a routerLinkActive = "active"  routerLink = "employee-list"><b>Employee List</b> </a>
      </li>
      <li>
         <a  routerLinkActive = "active"  routerLink = "contact"><b>Contact</b> </a>
      </li>
      <li>
        <a routerLinkActive = "active" href="" routerLink = "about"><b>About</b> </a>
      </li>
    </ul>
  </nav>
</div> -->