<!-- Navbar  Start -->
<nav class="container navbar navbar-expand-lg bg-dark navbar-dark sticky-top ">

  <!-- <a class="navbar-brand text-info" href="index.html"><img src="./images/app/fast-food.jpg"
      style="height: 30px; width: 30px;" class="rounded-circle"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="home"><b>Home</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>Our Services</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./pages/offer.html"><b>Tciket Booking</b></a>
          <a class="dropdown-item" href="#"><b>Information</b> </a>
          <a class="dropdown-item" href="http://allbanglasangbad.blogspot.com"><b>Tciket Cancelation</b> </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light " href="./pages/order.html"><b>Order</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light " routerLink="contact"><b>Contact</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light " href="./pages/contact.html"><b>Customer Care</b> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light " href="./pages/contact.html"><b>User Info</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light " href="./pages/about.html"><b>About</b> </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>Others</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./pages/offer.html"><b>Offer</b></a>
          <a class="dropdown-item" href="#"><b>Services</b> </a>
          <a class="dropdown-item" href="http://allbanglasangbad.blogspot.com"><b>Blog</b> </a>
          <a class="dropdown-item" href="#"><b>Location</b> </a>
          <a class="dropdown-item" href="./pages/career.html"><b>Career</b> </a>
        </div>
      </li>
    </ul>
    <!-- NavBar Search button -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0 text-info " type="submit"><b>Search</b> </button>
    </form>
  </div>
</nav>
<!-- Navbar end -->