<br><div class=" " style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/images.png" style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
</div>

<br><div class="" style="height: auto; text-align: center;">
  <img class="logo" src="assets/image/test.gif" style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
  </div>

  <br><div class="" style="height: auto; text-align: center;">
    <img class="logo" src="assets/image/fary.gif" style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
  </div>

  <br><div class="" style="height: auto; text-align: center;">
    <img class="logo" src="assets/image/earth_turning.gif" style="width: 100%; max-width: 400px; height: auto; border-radius: 5px;">
  </div><br>