 <!-- Order Form Strat -->
 <div class=" main_content_div " style="padding: 25px; background-color: #acadadc0; border-radius: 0px 0px 0px 0px ;">
  <form action="#" method="POST" onsubmit="show(); return false;" id="main_form">
      <fieldset>
          <legend id="form_heading" class="text-center"><h2> ORDER YOUR PRODUCT </h2></legend>   
          
          <B> Full Name:  </B> <input type="text" class="form-control btn-light" placeholder="Enter your full name" id="fname" class="input_field" /><br />
          <B> Product Name: </B> <input type="text" class="form-control btn-light" placeholder="Enter your product name" id="lname" class="input_field"/> <br/>
          <B> Email: </B><input type="email" class="form-control btn-light" placeholder="Enter your Email" id="email" class="input_field" /><br />
          <B> Phone number </B><input type="number" class="form-control btn-light" placeholder="Enter your phone number" id="password"class="input_field" /><br />
          <b> Order Date : </b> <input class="form-control btn-light" type="date" id="date" class="input_field" /> <br/>
          <b> Oerder Item</b>
          <select id="course" class="form-control btn-light" class="input_field">
              <option> Icecream</option>
              <option> cake </option>
              <option> Pizza</option>
              <option>fast-food</option>
              <option>Pestry</option>
          </select> <br /><br />
          <b>Address:</b> <textarea class="form-control btn-light" id="address"class="input_field"></textarea><br />
              
          <b> Submit : </b><input type="submit" class="btn btn-success"/> 
          <a href="../index.html"><button type="button" class="btn btn-info">Back</button></a>
      </fieldset><br>
  </form>
</div>