<!---------------------------- Service Start ----------------------------------->
<div class="welcome py-sm-1 py-1">
    <div class="container py-xl-4 py-lg-2">
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-6 welcome-left  mt-4">

                <h3>About Store
                    <hr>
                </h3>
                <h4 class="my-sm-3 my-2">

                    Bashir Online Store is an unique online Shop.
                    Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking
                    at its layout. The point of using Lorem Ipsum is that it
                    has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here', making it
                    look like readable English.

                </h4>


            </div>

            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4" style="padding-top: 72px;">
                <img src="assets/img/about/about1.jpg" class="img-fluid rounded" alt=" ">
            </div>
        </div>


        <div class="welcome-left">
            <br><br>
            <h3 class="text-left" style="color:#F45C5D;">Complimentary Services
                <hr>
            </h3>
            <div class="justify-content-center">
                <h4>

                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking
                    at its layout. The point of using Lorem Ipsum is that it
                    has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here', making it
                    look like readable English.It is a long established fact
                    that a reader will be distracted by the readable content
                    of a page when looking at its layout. The point of using
                    Lorem Ipsum is that it has a more-or-less normal distribution
                    of letters, as opposed to using 'Content here, content here',
                    making it look like readable English.

                </h4>
            </div>

            <hr>
        </div>

        <div class="row">

            <div class="col-lg-6 "><br><br>
                <img src="assets/img/about/about2.png" class="img-fluid rounded" alt=" " style="padding-bottom: 30px;">
            </div>

            <div class="col-lg-6 ">
                <br><br>
                <h3 class="text-left" style="color:#F45C5D;">Terms &amp; Conditions
                    <hr>
                </h3>
                <h4 class="my-sm-3" style="margin-left:15px;">
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
                    <li> To spread our product worldwide.</li>
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
                    <li> To spread our product worldwide.</li>
                </h4>
            </div>



        </div>
    </div>
</div>