
 <!-- Footer start -->
 <div class=" text-center text-light bg-dark" style="border-radius: 0px 0px 5px 5px ;">
  <div class="container text-center text-md-center"><br><br>
    <div class="row">

      <!-- Part-1 footer link -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">contact Us</h5>
        <ul class="list-unstyled">
          <a href="#!">Link 1</a><br>
          <a href="#!">Link 1</a><br>

        </ul>
      </div>

      <!-- Part-2 footer link -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">important links</h5>
        <ul class="list-unstyled">
          <a href="#!">Link 1</a><br>
          <a href="#!">Link 1</a><br>

        </ul>
      </div>

      <!-- Part-3 footer link -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">references</h5>
        <ul class="list-unstyled">
          <a href="#!">Link 1</a><br>
          <a href="#!">Link 1</a><br>

        </ul>
      </div>

      <!-- Part-4 footer link -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Terms & Condition</h5>
        <ul class="list-unstyled">
          <a href="#!">Link 1</a><br>
          <a href="#!">Link 1</a><br>

        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright  - out of div-->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> www.bashir.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer end -->