<!-- ------------------ Header ------------------- -->
<div class="main-app">
  <app-header></app-header>
</div>

<!-- <div>
  <button (click)='callfun()'> Alert</button>
</div> -->


<!-- ------------------Nav Manu------------------- -->
<div style="background-color: #038099;" class="sticky-top">
  <app-manu></app-manu>
</div>


<!-- --------------------Body---------------------- -->
<div class="main-app" style="min-height: 800px;">
  <router-outlet></router-outlet>
</div>


<!-- ----------------------Footer------------------- -->
<div class="main-app">
  <app-footer></app-footer>
</div>